*.ckpt
*.lnk
*.pth
*.safetensors
.vscode
/.coverage*
/.idea
/cache
/cache.json*
/config.json
/config_states/
/embeddings
/ESRGAN/*
/extensions
/footprints
/gfpgan/weights/*.pth
/GFPGANv1.3.pth
/interrogate
/log
/Lora
/model.ckpt
/models
/models/**/*
/node_modules
/outputs
/package-lock.json
/params.txt
/repositories
/styles.csv
/styles.csv.bak
/SwinIR
/SwinIR/*
/test/stderr.txt
/test/stdout.txt
/textual_inversion
/tmp
/ui-config.json
/user.css
/venv
/webui-user.bat
/webui-user.sh
/webui.settings.bat
__pycache__
notification.mp3
Defender.log
